html{
    background-color: black;
    text-align:center;
}
body{
    background-color:white;
    margin:0 auto;
    padding:0;
    width:100%;
    height:1000px;
}

main{
    margin:0 auto;
    padding:0;
    width:90%;
}

header{
    margin:0 auto;
    padding:0;
    width:80%;
    
}

header{
    display:block;
    height:150px;
    background-color:snow;
}

footer{
    width:100%;
    height:90px;
    background-color:#00008B;
}

#head_position{
    display:inline-block;
    width:100%;
    height:100%;
}

/* ***********Header Split into 3 sections************  */

/* Veterans image*/
#left_head{
    width:15%;
    height:150px;
    background-color:#f3172d;
    float:left;
}
/* Headline, Small Logo, Nav bar*/
#mid_head{
    margin:0 auto;
    padding:0;
    width:70%;
    height:150px;
    float:left;
}

#mid_top_head{
    width:100%;
    height:100px;
}

/* container for heading inside top_head    */
#company_name{
    width:70%;
    height:100px;
    font-family: sans-serif;
    color: #00008B;
    float:left;
    
}

#small_logo{
    margin: 0px 100px 10px 10px;
    width:100px;
    height:100px;
    float:right;
   
}



/*Cotainer for Table Mtn Image*/
#right_head{
    width:15%;
    height:150px;
    background-color:#00008B;
    float:right;
}

#push_down_one{
    margin-top:25px;
}


nav{
    margin:0 auto;
    padding:0;
    width:100%;
    height:50px;
    background-color:snow;
    box-sizing: border-box;
}


.nav_buttons{
    display: inline;
    margin:0 auto;
    padding:0;
    background: red;
    text-align:center;
    width: 200px;
    height:50px;
    line-height: 50px;
    color: white;
    border: solid 2px white;
}



