#info_sect{
    margin:0 auto;
    width:80%;
    height:800px;
    background-color:cornsilk;
}

#info_sect > article > aside{
    margin:10% 5% 5% 5%;
    padding:0;
    font-size:18px;
    color:blue;
    font-weight: bold;
}

main > #info_sect > article > h1{
    font-size:26px;
    text-align:center;
    color:darkblue;
    
}